<script type="text/template"
  id="field-template">
  <a href="#"
    class="piece text-center"
    data-line="{{ line }}"
    data-position="{{ position }}"
    data-accessible="{{ accessible }}">
      g
    </a>

<div class="is-hidden">
  Line: {{line}} <br />
  Position: {{position}} <br />
</div>

</script>
