
  <% if (data.has_vendor && data.dev)  { %>
    <!-- Your js order here -->
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
  <% } else if (data.has_vendor) { %>
    <script type="text/javascript" src="assets/javascripts/vendor.js"></script>
  <% } %>

  <script type="text/javascript" src="assets/javascripts/checkers.js"></script>
  <script>
    new Checkers();
  </script>

  </body>
</html>
