//
// Checkboard
// --------------------------------------------------

.piece
  font-family: 'draughts_utrechtregular'
  text-decoration: none
  font-size: $piece-font-size
  display: none

// shows on checkboard
.is-piece
  .piece
    display: block

// colors
td.is-usertype-a
  .piece
    color: $piece-usertype-a-color

td.is-usertype-b
  .piece
    color: $piece-usertype-b-color !important
    +transform(rotate(-180deg))
